html {
    color: #222;
    font-size: 1em;
    line-height: 1.2;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    font-size: .80em;
}

textarea {
    resize: vertical;
    padding: 0.2em;
    font-family: Consolas, monospace;
}


label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0 0 1em 0;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 0.5em 0;
}

#user-input {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

#calc-container {
    padding: 1em;
    margin: 0 auto;
    width: 800px;
}

#weapon-data {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    width: 350px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#user-input-left {
    width: 365px;
    display: flex;
    margin-right: 2em;
}

#user-input-right p { margin: 0.3em 0 0 0; }
#crafting-presets p { margin: 0.1em 0 0 0; }
#crafting-presets a, #crafting-presets a:visited {
    color: #ccc;
    text-decoration: none;
}
#crafting-presets a:hover { text-decoration: underline; }
#crafting-presets .active a, #crafting-presets .active a:visited { color: #cb4b16; }

#crafting-presets a { pointer-events: none; }
#crafting-presets .active a { pointer-events: auto; }

#crafting-presets p { color: #ccc; }
#crafting-presets p.active { color: inherit; }

#output {
    display: inline-block;
    font-size: 16px;
    text-align: left;
}

#output-wrapper {
    text-align: center;
}
